<p id="notice"><%= notice %></p>

<h1>Artículos</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Artículo</th>
      <th colspan="4"></th>
    </tr>
  </thead>
<% @blogs.sort.each do |blog| %>
  <tbody>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.body %></td>
        <td><%= link_to blog.status, toggle_status_blog_path(blog) %></td>        
        <td><%= link_to 'Mostrar', blog %></td>
        <td><%= link_to 'Editar', edit_blog_path(blog) %></td>
        <td><%= link_to 'Eliminar', blog, method: :delete, data: { confirm: '¿Seguro que quieres eliminar el post?' } %></td>
      </tr> 
  </tbody>
<% end %>
</table>

<br>

<%= link_to 'Nuevo artículo', new_blog_path %>
