<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Artículo:</strong>
  <%= @blog.body %>
</p>

<%= link_to 'Editar', edit_blog_path(@blog) if logged_in?(:site_admin)%> |
<%= link_to 'Volver', blogs_path %>
