<div class="col-sm-8 blog-main">
    
  <h2><%= @blog.title %></h2>

  <h3 class="pull-right"><%= link_to fa_icon('pencil-square-o'), edit_blog_path(@blog) if logged_in?(:site_admin)%>
  <%= link_to fa_icon('trash'), @blog, method: :delete, data: { confirm: '¿Seguro que quieres eliminar el post?' } if logged_in?(:site_admin) %></h3>
  <br>
  
  <p><%= markdown @blog.body  %></p>

  <%= render 'comments/comment_form' %>
  
  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments%>
  </div>

  <%= link_to 'Volver', blogs_path %>
</div>
