<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-8">
        <h2>Modificar Usuario</h2>
    
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :nombre %><br />
              <%= f.text_field :name, class: 'form-control' %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
              <%= f.label :Contraseña %> <i>(Dejar en blanco si no se quiere cambiar)</i><br />
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
              <% if @minimum_password_length %>
              
                <em>Mínimo <%= @minimum_password_length %> caracteres</em>
              <% end %>
            </div>

            <div class="form-group">
              <%= f.label :confirmar_contraseña %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :contraseña_actual %><br />
              <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.submit "Actualizar", class: 'btn btn-outline-primary btn-lg btn-block' %>
            </div>
          <% end %>
      </div>

      <div class="col-md-4">
        <h3>Cancelar mi cuenta</h3>

        <p> ¿no te ha gustado?<%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro/a?" }, method: :delete, class: 'btn btn-lg btn-outline-danger btn-block' %></p>
      </div>
    </div>
    <hr>
    <div class="auth-links ">
      <%= button_to "Volver", :back, class: "btn btn-outline-secondary btn-lg btn-block"%>
    </div>
  </div>
</div>