<%= form_for(@portfolio_item) do |f| %>
  <% if @portfolio_item.errors.any? %> 
   <% @portfolio_item.errors.full_messages.each do |error| %>
    <%= alert_generator error %>
   <% end %>
  <% end %>

  <div class="row">

    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :título %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :subtítulo %>
        <%= f.text_field :subtitle, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <label class="btn btn-primary">
          Subir imagen principal <%= f.file_field :main_image, style: 'display:none;' %>
        </label>
      </div>
      <div class="form-group">
        <label class="btn btn-primary">
          Subir imagen miniatura <%= f.file_field :thumb_image, style: 'display:none;' %>
        </label>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :artículo %>
        <%= f.text_area :body, class: 'form-control', rows: 10 %>
      </div>
    </div>

  </div>

  <hr>
  <h2>Tecnologías usadas:</h2>
  <div>
    <%= f.fields_for :technologies do |technology_form| %>
      <%= render 'technology_fields', f: technology_form %>
    <% end %>
    <div>
      <%= link_to_add_association 'Añadir tecnología', f, :technologies %>
    </div>
  </div>
  <hr>
  <div class="form-group">
    <%= f.submit "Publicar Portfolio", class: "btn btn-primary btn-block" %>
  </div>
<% end %>
