<%= form_for(@portfolio_items) do |form| %>
 <ul>
  <li>
  <div class="field">
    <%= form.label :título %>
    <%= form.text_field :title %>
  </div>
  <br>
  </li>
  <li>
  <div class="field">
    <%= form.label :subtítulo %>
    <%= form.text_field :subtitle %>
  </div>
  <br>
  </li>
  <li>
  <div class="field">
    <%= form.label :artículo %>
    <%= form.text_area :body %>
  </div>
  <br>
  </li>
 
    <%= form.fields_for :technologies do |technology_form| %>
      <li>
        <%= technology_form.label :name %>
        <%= technology_form.text_field :name %>
      </li>
      <br>
    <% end %>
  </ul>

  <div class="actions">
    <%= form.submit "Publicar Portfolio"%>
  </div>
<% end %>