<h1><%= @portfolio_item.title %></h1>

<%= image_tag @portfolio_item.main_image unless @portfolio_item.main_image.nil? %>

<br>

<em><%= @portfolio_item.subtitle %></em>

<p><%= @portfolio_item.body %></p>

<h2>Tecnologías usadas:</h2>

<% @portfolio_item.technologies.each do |t| %>
  <p><%= t.name %></p>
<% end %>
