<div class="<%= location %>">
  <div><%= link_to "Inicio", root_path %></div>
  <div><%= link_to "Sobre mi", about_path %></div>
  <div><%= link_to "Contacto", contact_path %></div>
  <div><%= link_to "Blog", blogs_path %></div>
  <div><%= link_to "Portfolio", portfolios_path %></div>
</div>