<h1>Hola <%= current_user.first_name %></h1>

<h2>Artículos del blog:</h2>
<br>
<% @posts.each do |articulo| %>
  <h3><%= articulo.title %><h3>
  <h4><%= articulo.body %></h4>
  <br>
<% end %>

<hr />

<h2>Skills</h2>
<br>
<h3>Lenguajes de programación:<h3>
<br>
<% @skills.each do |lenguaje| %>
  <h3><%= lenguaje.title %><h3>
  <h4>Tiempo empleado <%= lenguaje.percent_utilized %>%</h4>
  <br>
<% end %>

